<h2>Login</h2>
<form action="" id="loginForm">
    <input type="text" name="" id="loginUsername">
    <input type="password" name="" id="loginPassword">
    <button>Submit</button>
</form>

<h2>Signup</h2>
<form action="" id="signupnForm">
    <input type="text" name="" id="signupUsername">
    <input type="password" name="" id="signupPassword">
    <button>Submit</button>
</form>

<script src="/js/login.js"></script>